//-
	Шапка сайта


.container
	a.custom-logo-link( href="#" ): img.custom-logo( src=src.img+'logo.png', alt=blog.name )
	nav.nav#nav
		ul.nav__list.list#nav-list
			li: a( href="#" ) Сайт ПГТУ
			li: a( href="#" ) Поступление 2020
		include _burger
	ul.languages
		li.current RU
		li: a( href="#" ) UK
		li: a( href="#" ) EN