ul.socials
	li.facebook: a( href="#" ) #[span.sr-only facebook]
	li.twitter: a( href="#" ) #[span.sr-only twitter]
	li.instagram: a( href="#" ) #[span.sr-only instagram]
	li.youtube: a( href="#" ) #[span.sr-only youtube]
	li.linkedin: a( href="#" ) #[span.sr-only linkedin]